body{

    text-align: center;
    background-color: papayawhip;
    font-family: Arial

}
p{
    color: red;
}

h1{
    color: white; 
    background-color: rgb(204, 84, 84);
    text-align: center;
}


.textoDestaque{
    color: rgb(192, 13, 7);

}

/*