table tr {
    transition: 0.1s;
}


table tr:hover{
    background-color: rgb(18, 190, 133);
    cursor: pointer;
    
}
.whatsapp{
    width: 75px;
    position: absolute;
    right: 50px;
    bottom: 50px;

}